body {
    margin: 0;
    padding: 0;
}

#principal {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(images/imageBW.jpg);

    background-size: cover;
    background-position: center 85%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh
}

#principal h1 {
    margin-top: 0;
    margin-left: 50px;

}

#logo {
    padding-left: 30px;

}

#area-login {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20vh auto;
    padding: 30px;
    box-sizing: border-box;
    align-items: stretch;
}

#area-login p {
    margin-top: 0px;
    font-family: Arial, sans-serif;
    color: white;
    text-align: left;
    margin-bottom: 20px;
    font-size: 22px;
}

#form-id,
#form-senha {
    border: 1px solid;
    border-color: rgba(128, 128, 128, 0.377);
    color: black;
    background-color: rgba(128, 128, 128, 0.199);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 230px;
    height: 30px
}

#botao-entrar {
    border: 0px;
    width: 100%;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F98948;
    cursor: pointer;
    text-align: center;
    width: 236px;
    height: 30px
}

h3 {
    color: rgba(102, 99, 99, 1.723);
    text-align: center;
    margin: 10px auto;
}

#botao-codigo {
    border: 0px;
    width: 100%;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(170, 170, 170, 0.521);
    cursor: pointer;
    box-sizing: border-box;
    width: 236px;
    height: 30px;
    cursor: pointer;

}

#esqueceu-senha {
    text-align: center;
    color: white;
    cursor: pointer;


}

#checkbox {
    margin-top: 10px;
    color: white;
}

#novo-aqui {
    margin-top: 10px;
    color: gray;
}

#assine-agora {
    color: white;
    cursor: pointer;

}

#footer {
    max-width: 8000px border 5px;
    margin: 0 auto;
    border: 2px solid;
    background-color: black;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;

}

#conteudo-footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 30px;
    padding-left: 2%;
}

#footer p {
    color: gray;
    margin-top: 20px;
}

#links-finais {
    border: 2px solid;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

#links-finais a {
    display: flex;
    justify-content: flex-end;
    color: gray;
}


#linguagem {
    background-color: transparent;
    border: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
}

#options {
    color: black;
}